.imgBG {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  transform: scaleX(-1);
}

.backG {
  position: absolute;
  top: 10%;
}

.signIn {
  width: 400px;
  z-index: 1;
  border-radius: 20px;
}

h1 {
  font-family: sans-serif;
  color: #1d5d9b;
  font-weight: bold;
}

.QA {
  color: #f4d160;
  font-weight: bold;
}

h4 {
  font-family: sans-serif;
  color: #1d5d9b;
  font-weight: 400;
}

.imgLogo {
  transition: transform 0.2s;
  margin: 0 auto;
}

.imgLogo:hover {
  transform: scale(1.2);
}

.weDeliver {
  font-size: 2rem;
  font-weight: 700;
  line-height: 3.875rem;
  font-family: sans-serif;
  color: #1d5d9b;
}

p {
  font-size: 1.2rem;
  color: #070f44;
  font-family: sans-serif;
}

#testimonial h4 {
  font-family: sans-serif;
  color: #00a3ac;
  font-weight: 400;
}

.buttonGetTalentNow {
  padding-left: 0px;
  padding-bottom: 20px;
}

.sectionsBG {
  background-color: #e9ecef;
}

.Trusted {
  font-size: 18px;
  line-height: 30px;
  word-spacing: 2px;
}
